In [1]:
# importationde bibliothe
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, learning_curve
from sklearn.ensemble import BaggingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, recall_score, confusion_matrix, classification_report

In [2]:
#  charger le dataset
df = pd.read_excel ("coeur.xlsx")
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [3]:
df1 = df.copy()
df1

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [4]:
#Création d'une liste de variables qualitatives et d'une liste de quantitatives
quant = ['AGE','PAR','CHOLESTEROL','FCMAX','DEPRESSION ',]
qual = ['SEXE','TDT','ECG','ANGINE','PENTE']

In [5]:
# visualisation de variables qualitatives 
quali= pd.DataFrame(df1, columns = qual)
quali

      SEXE  TDT     ECG ANGINE      PENTE
0    homme   AA  Normal    Non  Ascendant
1    femme  DNA  Normal    Non       Plat
2    homme   AA      ST    Non  Ascendant
3    femme  ASY  Normal    Oui       Plat
4    homme  DNA  Normal    Non  Ascendant
..     ...  ...     ...    ...        ...
913  homme   AT  Normal    Non       Plat
914  homme  ASY  Normal    Non       Plat
915  homme  ASY  Normal    Oui       Plat
916  femme   AA     LVH    Non       Plat
917  homme  DNA  Normal    Non  Ascendant

[918 rows x 5 columns]

In [6]:
encoda = {'homme':1,
         'femme':0,
         'DNA':0,
         'AT':1,
         'AA':2,
         'ASY':3,
         'Normal':0,
         'ST':1,
         'LVH':2,
         'Non':0,
         'Oui':1,
         'Ascendant':2,
         'Plat':0,
         'Descendant':1}

In [7]:
for col in quali:
    quali[col]= quali[col].map(encoda)

In [8]:
quali

     SEXE  TDT  ECG  ANGINE  PENTE
0       1    2    0       0      2
1       0    0    0       0      0
2       1    2    1       0      2
3       0    3    0       1      0
4       1    0    0       0      2
..    ...  ...  ...     ...    ...
913     1    1    0       0      0
914     1    3    0       0      0
915     1    3    0       1      0
916     0    2    2       0      0
917     1    0    0       0      2

[918 rows x 5 columns]

In [9]:
quanti=pd.DataFrame(df1, columns = quant)
quanti

     AGE  PAR  CHOLESTEROL  FCMAX  DEPRESSION
0     40  140          289    172          0.0
1     49  160          180    156          1.0
2     37  130          283     98          0.0
3     48  138          214    108          1.5
4     54  150          195    122          0.0
..   ...  ...          ...    ...          ...
913   45  110          264    132          1.2
914   68  144          193    141          3.4
915   57  130          131    115          1.2
916   57  130          236    174          0.0
917   38  138          175    173          0.0

[918 rows x 5 columns]

In [10]:
scaler = StandardScaler()
sc = scaler.fit_transform(quanti)
sc

array([[-1.4331398 ,  0.41090889,  0.82507026,  1.38292822, -0.83243239],
       [-0.47848359,  1.49175234, -0.17196105,  0.75415714,  0.10566353],
       [-1.75135854, -0.12951283,  0.7701878 , -1.52513802, -0.83243239],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, -0.85706875,  0.29328271],
       [ 0.37009972, -0.12951283,  0.34027522,  1.4615246 , -0.83243239],
       [-1.64528563,  0.30282455, -0.21769643,  1.42222641, -0.83243239]])

In [11]:
quantif = pd.DataFrame(sc,  columns=quant)
quantif

          AGE       PAR  CHOLESTEROL     FCMAX  DEPRESSION
0   -1.433140  0.410909     0.825070  1.382928    -0.832432
1   -0.478484  1.491752    -0.171961  0.754157     0.105664
2   -1.751359 -0.129513     0.770188 -1.525138    -0.832432
3   -0.584556  0.302825     0.139040 -1.132156     0.574711
4    0.051881  0.951331    -0.034755 -0.581981    -0.832432
..        ...       ...          ...       ...          ...
913 -0.902775 -1.210356     0.596393 -0.188999     0.293283
914  1.536902  0.627078    -0.053049  0.164684     2.357094
915  0.370100 -0.129513    -0.620168 -0.857069     0.293283
916  0.370100 -0.129513     0.340275  1.461525    -0.832432
917 -1.645286  0.302825    -0.217696  1.422226    -0.832432

[918 rows x 5 columns]

In [12]:
df2=pd.concat([quali, quantif], axis=1)
df2

,SEXE,TDT,ECG,ANGINE,PENTE,AGE,PAR,CHOLESTEROL,FCMAX,DEPRESSION
0,1,2,0,0,2,-1.433140,0.410909,0.825070,1.382928,-0.832432
1,0,0,0,0,0,-0.478484,1.491752,-0.171961,0.754157,0.105664
2,1,2,1,0,2,-1.751359,-0.129513,0.770188,-1.525138,-0.832432
3,0,3,0,1,0,-0.584556,0.302825,0.139040,-1.132156,0.574711
4,1,0,0,0,2,0.051881,0.951331,-0.034755,-0.581981,-0.832432
...,...,...,...,...,...,...,...,...,...,...
913,1,1,0,0,0,-0.902775,-1.210356,0.596393,-0.188999,0.293283
914,1,3,0,0,0,1.536902,0.627078,-0.053049,0.164684,2.357094
915,1,3,0,1,0,0.370100,-0.129513,-0.620168,-0.857069,0.293283
916,0,2,2,0,0,0.370100,-0.129513,0.340275,1.461525,-0.832432
917,1,0,0,0,2,-1.645286,0.302825,-0.217696,1.422226,-0.832432

In [13]:
df2=pd.concat([df2, df1['GAJ']], axis=1)
df2

,SEXE,TDT,ECG,ANGINE,PENTE,AGE,PAR,CHOLESTEROL,FCMAX,DEPRESSION,GAJ
0,1,2,0,0,2,-1.433140,0.410909,0.825070,1.382928,-0.832432,0
1,0,0,0,0,0,-0.478484,1.491752,-0.171961,0.754157,0.105664,0
2,1,2,1,0,2,-1.751359,-0.129513,0.770188,-1.525138,-0.832432,0
3,0,3,0,1,0,-0.584556,0.302825,0.139040,-1.132156,0.574711,0
4,1,0,0,0,2,0.051881,0.951331,-0.034755,-0.581981,-0.832432,0
...,...,...,...,...,...,...,...,...,...,...,...
913,1,1,0,0,0,-0.902775,-1.210356,0.596393,-0.188999,0.293283,0
914,1,3,0,0,0,1.536902,0.627078,-0.053049,0.164684,2.357094,1
915,1,3,0,1,0,0.370100,-0.129513,-0.620168,-0.857069,0.293283,0
916,0,2,2,0,0,0.370100,-0.129513,0.340275,1.461525,-0.832432,0
917,1,0,0,0,2,-1.645286,0.302825,-0.217696,1.422226,-0.832432,0

In [19]:
Y=df1['CŒUR']
Y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: CŒUR, Length: 918, dtype: int64

In [21]:
df2_train, df2_test, Y_train, Y_test = train_test_split(df2, Y, test_size=.3, random_state=1)
print(df2_train.shape)
print(df2_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(642, 11)
(276, 11)
(642,)
(276,)

In [22]:
Regression = LogisticRegression()

In [23]:
Regression.fit(df2_train, Y_train)

LogisticRegression()

In [24]:
Regression.score(df2_train, Y_train)

0.8644859813084113

In [25]:
Regression.score(df2_train, Y_train)

0.8644859813084113